.ct {
    display: flex;
    background-color: #E4E4E4;
    align-items: center;
    gap: 300px;
    padding: 2rem;
}

.ct1 {
    width: 400px;
    margin-left: 200px;
    font-size: 23px;
}

.ct2 {
    font-size: 16px;
    width: 500px;
    font-weight: 100px;
}

.center {
    justify-items: center;
    font-size: 30px;
    margin-top: 40px;
}

.cm {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
}

.celular {
    background-color: #cccccc;
    width: 300px;
    height: 200px;
    justify-content: end;
    border-radius: 10px;
    padding: 20px;
}

.celular h4,
.email h4,
.visite h4 {
    font-size: 26px;
}

.celular h5,
.email h5,
.visite h5 {
    margin-top: 15px;
    font-size: 20px;
}

.email {
    background-color: #cccccc;
    width: 300px;
    height: 200px;
    justify-content: end;
    border-radius: 10px;
    padding: 20px
}

.visite {
    background-color: #cccccc;
    width: 300px;
    height: 200px;
    justify-content: center;
    border-radius: 10px;
    padding: 20px
}

.where {
    margin-top: 40px;
    font-size: 50px;
}

.where img {
    margin-top: 20px;
}

.contato {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 1.5rem;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
    background-image: url(../img/blusaimg1.webp);
}

.contato input,
.contato label {
    width: 70%;
    border-radius: 8px;
    display: flex;
    border: none;
    padding: 10px;
}

.contato button:hover {
    background-color: rgb(129, 129, 129);
    color: white;
}

.contato button {
    width: 40%;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.topocm {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.increva-se {
    font-size: 30px;
    margin-top: 20px;
}

/* Responsividade para tablet e computador */

@media (min-width: 768px) and (max-width:1199px) {
    .ct {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .ct1 {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .ct2 {
        width: 100%;
        text-align: center;
    }

    .celular,
    .email,
    .visite {
        width: 80%;
    }

    .contato {
        width: 80%;
    }
}

/* Responsividade para celular */
@media (max-width: 767px) {
    .ct {
        gap: 50px
    }

    .ct1 {
        margin-left: 20px;
        font-size: 18px;
    }

    .ct2 {
        font-size: 14px;
        width: 70%;
    }

    .center {
        justify-items: center;
        font-size: 22px;
        margin-top: 40px;
    }

    .topocm {
        flex-wrap: wrap;
        gap: 40px;
    }

    .celular h4,
    .email h4,
    .visite h4 {
        font-size: 22px;
    }

    .celular h5,
    .email h5,
    .visite h5 {
        font-size: 18px;
    }

    .celular,
    .email,
    .visite {
        width: 40%;
    }

    .where img {
        width: 80%;
    }

    .contato label {
        font-size: 20px;
    }

    .increva-se {
        font-size: 22px;
    }
}