.banner {
    width: 100%;
}

.banner img{
    width: 100%;
}

.toptext{
    padding: 30px;
    padding-bottom: 0;
    font-size: 25px;
}

.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 200px;
    margin: 40px;
}

.produtos img {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) and (max-width:1199px) {

.toptext{
    text-align: center;
}

.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    margin: 40px;
}
}
/* Resposividade para Celular */
@media (max-width: 768px) {
.toptext{
    text-align: center;
}

.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    flex-wrap: wrap;
}

.produtos img {
    margin-top: 40px;
    width: 100%;
}
}