
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background-color: white;
  color: #333;
}


.banner img {
  width: 100%;
  height: auto;
  display: block;
}


.ofertas {
  text-align: center;
  padding: 30px 10px;
}

.ofertas h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.ofertas p {
  font-size: 16px;
  margin-bottom: 30px;
}


.produtos {
  display: grid;
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
  d
}


.produto {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.produto:hover {
  background-color: #f9f9f9;
}

.produto img {
  width: 100%;
  border-radius: 6px;
}

.produto h3 {
  font-size: 14px;
  margin: 10px 0 5px 0;
}

.preco {
  font-size: 14px;
}

.preco span {
  text-decoration: line-through;
  color: gray;
  margin-right: 5px;
}


footer {
  text-align: center;
  background-color: #f0f0f0;
  padding: 15px;
  color: #555;
  font-size: 13px;
  margin-top: 40px;
}




