*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #fff;
    color: #333;
}


.banner img {
    width: 100%;
    height: auto;
    display: block;
}


.ofertas {
    text-align: center;
    padding: 40px 20px;
}

.ofertas h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ofertas p {
    font-size: 18px;
    margin-bottom: 40px;
}

.produtos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 auto; 
    max-width: 1100px;
}


.produto {
    width: 300px; 
    border-radius: 10px;
    padding: 15px;
    
}

.produto img {
    width: 100%;
    border-radius: 8px;
}

.produto h3 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    color: #333;
}

.preco {
    font-size: 16px;
    color: #000;
}

.preco span {
    text-decoration: line-through;
    color: #999;
    margin-right: 6px;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}